@import '../../css/variables.scss';

.options {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.editButton {
    cursor: pointer;
    display: inline-block;
    width: 20px; 
    height: 20px; 
    background: url('../../assets/icons/editIcon.svg') no-repeat center center;
    background-size: cover;
}

.deleteButton {
    cursor: pointer;
    display: inline-block;
    width: 20px; 
    height: 20px; 
    background: url('../../assets/icons/deleteIcon.svg') no-repeat center center;
    background-size: cover;
    margin-left: 25px;
}

.contenedorTable{
    border: 1px solid rgba(128, 128, 128, 0.158);
    border-radius: 10px;
    padding: 20px 0px 20px 20px;
    background-color: rgb(32, 32, 32);
}

