.empleados{
    
    height: 94.3vh;
    background-image: url("@/assets/img/Logo.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-x: 125%;
    background-position-y: 30%;
    

    .h1{
        margin: 1.67em 0px;
    }

}



