.empleados {

    height: 94.3vh;
    background-image: url("@/assets/img/Logo.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-x: 125%;
    background-position-y: 30%;

    .h1 {
        margin: 1.67em 0px;
    }
}

#formularioRegistro {

    position: relative;
    width: 70%;
    height: 590px;
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;

    /* creamos nuestra malla (grid) */
    display: grid;
    grid-gap: 90px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1em 1em 1em 1em;

    .me-10 {
        width: 40%;
        margin-left: 100%;
    }

    .botonLimpiar {
        background-color: #8A1212;
        width: 40%;
        margin-left: 100%;
    }
}

#formularioAdelanto {

    position: relative;
    width: 50%;
    height: 300px;
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;

    /* creamos nuestra malla (grid) */
    display: grid;
    grid-gap: 60px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2em 2em;

    .me-10 {

        background-color: forestgreen;
        width: 40%;
        margin-left: 60%;
    }

    .botonLimpiar {
        background-color: #8A1212;
        width: 40%;
        margin-left: 0%;
    }
}

#v-listadoEmpleados {

    border-radius: revert;
    line-height: 5;
    max-width: 30%;
    display: flex;
    flex-direction: column;
}