.contenedorpuestos {
    margin: 0px auto;
}

.editButton {
    cursor: pointer;
    display: inline-block;
    width: 20px; 
    height: 20px; 
    background: url('../../assets/icons/editIcon.svg') no-repeat center center;
    background-size: cover;
}

.deleteButton {
    cursor: pointer;
    display: inline-block;
    width: 20px; 
    height: 20px; 
    background: url('../../assets/icons/deleteIcon.svg') no-repeat center center;
    background-size: cover;
    margin-left: 25px;
}

.agregarPuestoTitulo{
    text-align: left;
}

.inputPuestoEmpleado {
    width: 90%;
    margin-left: 20px;
}