
//variables 
$verde_primario: #42b983;
$verde_botones: #1B5E20; //green-darken-4
$negro_oscuro: #1a1a1a;
$borde_blanco_transparente: rgba(128, 128, 128, 0.158);
$box_shadow_custom_1: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$rojo_oscuro_botones: #8A1212; // no esta en vuetify