@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

#app {
    font-family: 'Roboto', sans-serif;;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #fff;
    height: 100vh;
    background-color: #29272A;
  }

body {
    margin: 0px;
    padding: 0px;
}

.v-field{
  input{
        padding-left: 15px;
        padding-right: 10px;
        padding-top: 23px;
  }
}

.v-field__field{
  textarea{
    padding: 30px 10px 10px 10px;
  } 
}