.tabsStyles{
    --v-tabs-height: 35px;
    z-index: 999;
    background-color: #1a1a1a;
    border-bottom: 1px solid rgb(84 84 84 / 48%);
    button{
        margin: 0;
        text-transform: none;
        font-weight: 400;
        padding: 0 10px;
    }
    
}