@import '../../css/variables.scss';


.contenedorEmpleadosIniTurno{
    border: 1px solid rgba(128, 128, 128, 0.158);
    border-radius: 10px;
    padding: 20px 0px 20px 20px;
    background-color: rgb(32, 32, 32);
}

.deleteButton {
    cursor: pointer;
    display: inline-block;
    width: 25px; 
    height: 25px; 
    background: url('../../assets/icons/deleteIconSquare.svg') no-repeat center center;
    background-size: cover;
    margin-top: 14px;
}


.v-container {
    border-radius: 10px;
    background-color: $negro_oscuro;
    box-shadow: $box_shadow_custom_1;
}

.tablaBilletes{
    width: 85%;
}

.apertura{
    display: flex;
    padding: 0;
}
