#navBar{
    display: flex;
    background-color: #1a1a1a;
    align-items: center;
    border-bottom: 1px solid rgb(84 84 84 / 48%);
}

nav {
    padding: 0px 15px;
    height: 50px;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    place-content: baseline;
    align-items: center;

    a {
      color: #fff;
      padding: 10px;
      text-align: left;
      text-decoration: none;
      cursor: pointer;
      display: flex;
      align-items: center;

      svg{
        margin-left: 3px;
        margin-top: 2px;
      }
  
      &.router-link-exact-active {
        text-decoration: underline #42b983;
        text-underline-offset: 18px;
        font-weight: 500;
        color: #42b983;
    }
    
    &:hover{
        color: #42b983;
        font-weight: 500;
      }
    }
}

.seccionUsuarioNav{
    display: flex;
    margin-right: 20px;
    align-items: center;

    span{
        font-weight: 100;
        font-size: 15px;
        padding-right: 10px;
    }

    .imagenUsuario{
        cursor: pointer;
        width: 40px;
        height: 40px;
        border-radius: 100px;
        border: 1px solid white;
    }  
}