@import '../../css/variables.scss';

.listadoProveedores {

    border-radius: revert;
    line-height: 5;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.fondoNegroProveedores {
    border-radius: 10px;
    background-color: $negro_oscuro;
    box-shadow: $box_shadow_custom_1;
    padding: 0px 20px 20px 20px;
    
}