#olvidastePassw{
    flex: none!important;
}

.correoLabel{
    text-align: left;
}
#cardLogin{
    border: 1px solid rgb(133, 133, 133);
}

.v-field__prepend-inner{
    i{
        padding: 0px 9px 2px 0px;
    }
}